{% extends 'base.html.twig'%}

{% block body %}
<div class="about-us">
<h2>About us</h2>
<p><i>Artisanal Italian gelato </i></p>
<p>We are very passionate about the quality of the ingredients we use. We select only the finest ingredients from around the world: Vanilla pods from Madagascar,  Natural Pistachios from Sicily,  Hazelnut from Piedmont... you get the picture.
<br>
<br>
To date we have made over 100 flavours, including cinnamon, basil, vodka lemon, honey, chocolate ginger and chili ice cream.. not to mention Kirsi's favourite: liquorice. </p>
</div>

{% endblock %}