{% extends 'base.html.twig' %}

{% block body %}
<div class="individual-favour">
<h2>{{flavour.flavour | upper}}</h2>
<p>{{flavour.description}}<p>
<img src='{{flavour.image}}' alt={{flavour.flavour}}></img>
</div>


{% endblock %}