@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --main-font: "Mukta", sans-serif;
  --pistachio: #c6dbda;
  --strawberry: #fee1e8;
  --mango: #fed7c3;
  --lemon: #f6eac2;
  --blackcurrant: #ecd5e3;
  --chocolate: #eacbcb;
}

nav {
  display: flex;
  justify-content: space-between;
  font-family: var(--main-font);
  background-color: var(--pistachio);
}

h1 {
  font-size: 3rem;
  margin: 15px;
}

h2 {
  text-align: center;
  margin-top: 25px;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

a:visited {
  color: black;
}

li {
  list-style: none;
  margin: 25px;
  display: inline-block;
}

body {
  background-color: #fee1e8;
  font-family: var(--main-font);
}

p {
  margin: 15px;
  font-size: 1.5rem;
}

.flavour-list,
.about-us,
.address,
.individual-favour {
  text-align: center;
  padding: 20px;
}
